
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/Oracle Linux Release 8 Update 4 for x86 (64 bit).iso
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/oracleasm-support-2.1.12-1.el8.x86_64.rpm
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/LINUX.X64_193000_db_home.zip
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/oracleasmlib-2.0.17-1.el8.x86_64.rpm
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/LINUX.X64_193000_grid_home.zip
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/p32900083_190000_Linux-x86-64.zip
DB/Oracle/RAC/OracleLinux8_19cASMRAC_Install_Files/p6880880_190000_Linux-x86-64.zip
